<!--This page allows the user to change their current password if they are currently logged in-->
<!--It is accessed through the profile page-->
<!--This page uses the Matialize dependancy for all UX variables and styling-->
{% extends 'base.html' %}
<!--extends the Base.html to populate the navbar and extend globally used javascript and styling-->

{% block content %}
<!--display page content-->
{% load materializecss %}
<!-- loads the materialize dependancy to be used on the form-->
<section id="login" class="py-5 mob">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h5>
                            Change Password
                        </h5>
                        <div class="row"></div>
                        <form action="{% url 'change_password' %}" method="POST">
                            <!--form to change user password-->
                            {% csrf_token %}
                            <!--implements Django auth encription token to secure data going in and coming out of the site-->
                            {{ form|materializecss }}
                            <!--displays change password form from the views.py file-->
                            <button type="submit" class=" btn indigo lighten-3 waves-effect waves-light">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}