{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content center">
                    <h5>Please select which Moral Foundation you would like to classify</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <button class="indigo lighten-3 btn-large col 16 s12 wave-effect waves-light "><a
                        href="{% url 'classifier' %}">
                        Care/Harm
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="indigo lighten-3 btn-large col 16 s12 wave-effect waves-light"><a
                        href="{% url 'classifierfairness' %}">
                        Fairness/Cheating
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="indigo lighten-3 btn-large col 16 s12 wave-effect waves-light"><a
                        href="{% url 'classifierloyalty' %}">
                        Loyalty/Betrayal
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="indigo lighten-3 btn-large col 16 s12 wave-effect waves-light"><a
                        href="{% url 'classifierauthority' %}">
                        Authority/Subversion
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="indigo lighten-3 btn-large col 16 s12 wave-effect waves-light"><a
                        href="{% url 'classifiersanctity' %}">
                        Sanctity/Degradation
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="indigo lighten-3 btn-large col 16 s12 wave-effect waves-light"><a
                        href="{% url 'classifierliberty' %}">
                        Liberty/Oppression
                    </a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}