<!--This page allows users to select what moral foundation they would like to start classifing sentences towards-->
{% extends 'base.html' %}
<!--extends the base.html file to populate the navbar-->

{% block content %}
<!--displays page content-->


<div class="container mob">
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
            <div class="">
                <div class="container">
                    <h5>Please select which Moral Foundation you would like to classify</h5>
                    <!--Page Header-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <button class="pink  btn-large col 16 s12 waves-effect waves-light "><a href="{% url 'classifier' %}">
                        <!--Link to CARE/HARM Classifier-->
                        Care/Harm
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="orange  btn-large col 16 s12 waves-effect waves-light"><a
                        href="{% url 'classifierfairness' %}">
                        <!--Link to FAIRNESS/CHEATING Classifier-->
                        Fairness/Cheating
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="blue darken-4 btn-large col 16 s12 waves-effect waves-light"><a
                        href="{% url 'classifierloyalty' %}">
                        <!--Link to Loyalty/Betrayal Classifier-->
                        Loyalty/Betrayal
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="black lighten-5 btn-large col 16 s12 waves-effect waves-light"><a
                        href="{% url 'classifierauthority' %}">
                        <!--Link to Authority/Subversion Classifier-->
                        Authority/Subversion
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="purple lighten-3 btn-large col 16 s12 waves-effect waves-light"><a
                        href="{% url 'classifiersanctity' %}">
                        <!--Link to Sanctity/Degradation Classifier-->
                        Sanctity/Degradation
                    </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="light-blue lighten-3 btn-large col 16 s12 waves-effect waves-light"><a
                        href="{% url 'classifierliberty' %}">
                        <!--Link to Liberty/Oppression Classifier-->
                        Liberty/Oppression
                    </a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}