{% extends 'base.html' %}

{% block content %}
{% load materializecss %}
<section id="login" class="py-5">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <h5>
              Update Profile
            </h5>
            <div class="row"></div>
            <form action="{% url 'editprofile' %}" method="POST">
              {% csrf_token %}
              {{ form|materializecss }}
              <button type="submit" class=" btn indigo lighten-3 waves-effect waves-light">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}