{% extends 'base.html' %}

{% block content %}

<section id="login" class="py-5" >
    <div class="container" >
      <div class="row" >
        <div class="col-md-3 mx-auto" >
          <div class="card" >
            <div class="card-header text-white" style="background-color:#8C96C6; font-size: X-Large">
              Update Profile
            </div>
              <div class="card-body">
                <form action="{% url 'editprofile' %}"  method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class=" btn-secondary btn-block"  style="font-size: x-large">Submit</button>
                </form>
                </div>
          </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}