{% extends 'base.html' %}
{% load static %}

{% block content %}
<img src="{% static 'images/calgary.jpg'%}" class="bg" alt="">
<div class="row"></div>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h3 class="white-text">Morals Class App</h3>
    </div>
  </div>
</div>

<div class="container indbut">
  <div class="row">
    <div class="col s12 center">
      <a class=" indigo lighten-3 btn-large col 16 s12 waves-effect waves-light" href="{% url 'login' %}">
        Login
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class=" grey lighten-1 btn-large col s12 waves-effect waves-light" href="{% url 'register' %}">
        Register
      </a>
    </div>
  </div>
</div>




{% endblock %}