{% extends 'base.html' %}
<!--Include the  base.html page to this page to populate the navbar, globally used javascript and styling-->

{% block content %}
{% load materializecss %}
<!--loads the materialize dependency to be used on the form-->
<div class="row"></div>
<div class="container mob">
    <h5>Current Leader</h5>
    <div class="row "></div>
    {% for totallead in totalleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ totallead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ totallead.total }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <h5>Care/Harm</h5>
    <div class="row "></div>
    {% for carelead in careleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ carelead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ carelead.care_harm }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="row"></div>
    <h5>Liberty/Oppression</h5>
    <div class="row"></div>
    {% for liblead in libleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ liblead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ liblead.liberty_oppression }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="row"></div>
    <h5>Fairness/Cheating</h5>
    <div class="row"></div>
    {% for fairlead in fairleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ fairlead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ fairlead.fairness_cheating }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="row"></div>
    <h5>Loyalty/Betrayal</h5>
    <div class="row"></div>
    {% for loylead in loyleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ loylead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ loylead.loyalty_betrayal }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="row"></div>
    <h5>Authority/Subversion</h5>
    <div class="row"></div>
    {% for authlead in authleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ authlead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ authlead.authority_subversion }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="row"></div>
    <h5>Sanctity/Degradation</h5>
    <div class="row"></div>
    {% for sanlead in sanleads %}
    <!--Pulls requested info through the leadboard query in the views.py flie to display leader info-->
    <div class="row">
        <div class="col s12">
            <table class="">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ sanlead.screen_name }}</td>
                        <!--Shows leader screen name based on query results-->
                        <td>{{ sanlead.sanctity_degradation }}</td>
                        <!--Shows leader classification total based on query results-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}