{% extends 'base.html' %}

{% block content %}
<section id="login" class="py-5">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <p>
                                Your password has been reset. Please return to the Login page.
                            </p>
                        </div>
                        <div class="row">
                            <a class=" btn indigo lighten-3 waves-effect waves-light" href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}