<!--This page is to confirm with the user that they do what to reset their password-->
<!--This page uses the Matialize dependancy for all UX variables and styling-->
{% extends 'base.html' %}
<!--extends base.html file to populate navbar and globally used javascript and styling-->

{% block content %}
<!--displays page content-->
{% load materializecss %}
<!--loads materialize dependancy for the form-->
<section id="login" class="py-5">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h5>
                            Update Profile
                        </h5>
                        <div class="row"></div>
                        <form method="POST">
                            {% csrf_token %}
                            <!--Implements Django encryption token-->
                            {{ form|materializecss }}
                            <!--displays password reset form from views file-->

                            <button type="submit" class=" btn indigo lighten-3 waves-effect waves-light">Reset
                                Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}