<!--This page is only seen once the user has submitted a reset password request-->
<!--This page uses the Matialize dependancy for all UX variables and styling-->
{% extends 'base.html' %}
<!--extends base.html file to populate navbar and globally used javascript and styling-->

{% block content %}
<!--Displays page content-->
<section id="login" class="py-5">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <p>
                                An email has been sent with instructions to help you reset your password
                            </p>
                        </div>
                        <div class="row">
                            <a class=" btn indigo lighten-3 waves-effect waves-light" href="{% url 'index' %}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}