{% extends 'base.html' %}

{% block content %}

<!-- Registration Form -->
<section id="login" class="py-5" >
    <div class="container" >
      <div class="row" >
        <div class="col-md-6 mx-auto" >
          <div class="card" >
            <div class="card-header text-white" style="background-color:#8C96C6">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Register </h4>
            </div>
<div class="card-body" >

         <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
          <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="username">Confirm Email</label>
            <input type="email" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select name="gender" class="form-control">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Non-Binary">Non-Binary</option>
            </select>
        </div>
        <div class="form-group">
            <label for="age">Year of birth</label>
            <select id="year" name="age" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" name="country" class="form-control">
              <option value="Canada">Canada</option>
              <option value="USA">USA</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Australia">Australia</option>
            </select>
        </div>
        <div class="form-group">
            <label for="postal_code">Postal Code</label>
            <input type="text" name="postal_code" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control" required>
        </div>
        <button type="submit" value="Register" class=" btn-secondary btn-block nav-link"  style="font-size: x-large" href="{% url 'login' %}">Register</button>
      </form>
    </div>
  </section>

  <script>
    var start = new Date().getFullYear();
    var end = 1900;
    var options = "";
    for(var year = start ; year >=end; year--){
      options += "<option>"+ year +"</option>";
    }
    document.getElementById("year").innerHTML = options;
  </script>

 

{% endblock %}

