{% extends 'base.html' %}

{% block content %}
<script src='https://www.google.com/recaptcha/api.js?render=6LequLgUAAAAAHB34n7Oqv87N5KHhLXWcOQI1aPp'></script>
<!-- Registration Form -->
<section id="login" class="py-5">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col s12">
        <div class="">
          <div class="">
            <h5>
              Register
            </h5>
            <form action="{% url 'register' %}" method="POST" id="form">
              {% csrf_token %}
              <div class="input-field col s12">
                <input type="text" name="first_name" required>
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" name="last_name" required>
                <label for="last_name">Last Name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" name="screen_name" required>
                <label for="screen_name">Username</label>
              </div>
              <div class="input-field col s12">
                <input type="email" name="email" required>
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <input type="email" name="username" required>
                <label for="username">Confirm Email</label>
              </div>
              <div class="input-field col s12">
                <select name="gender">
                  <option value="" disabled selected>---</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Non-Binary">Non-Binary</option>
                </select>
                <label for="gender">Gender</label>
              </div>
              <div class="input-field col s12">
                <select name="education_attainment">
                  <option value="" disabled selected>---</option>
                  <option value="Some high school">Some high school</option>
                  <option value="High school diploma or equivalent">High school diploma or equivalent</option>
                  <option value="Trades certification">Trades certification</option>
                  <option value="College diploma">College diploma</option>
                  <option value="Bachelor’s degree">Bachelor’s degree</option>
                  <option value="Graduate degree">Graduate degree</option>
                  <option value="Professional degree">Professional degree</option>
                </select>
                <label for="education_attainment">Education Attainment</label>
              </div>
              <div class="input-field col s12">
                <select id="year" name="age"></select>
                <label for="age">Year of birth</label>
              </div>
              <div class="input-field col s12">
                <select name="income">
                  <option value="" disabled selected>---</option>
                  <option value="$0 - $34,999">$0 - $34,999</option>
                  <option value="$35,000 - $49,999">$35,000 - $49,999</option>
                  <option value="$50,000 - $69,999">$50,000 - $69,999</option>
                  <option value="$70,000 - $99,999">$70,000 - $99,999</option>
                  <option value="$100,000 - $149,999">$100,000 - $149,999</option>
                  <option value="$150,000 - $249,999">$150,000 - $249,999</option>
                  <option value="$250,000 or more">$250,000 or more</option>
                </select>
                <label for="income">Income</label>
              </div>
              <div class="input-field col s12">
                <select id="country" name="country">
                  <option value="" disabled selected>---</option>
                  <option value="Canada">Canada</option>
                  <option value="USA">USA</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="Australia">Australia</option>
                </select>
                <label for="country">Country</label>
              </div>
              <div class="input-field col s12">
                <input type="text" name="postal_code">
                <label for="postal_code">Postal Code</label>
              </div>
              <div class="input-field col s12">
                {% load countries %}
                {% get_countries as countries %}
                <select name="nationality">
                  <option value="" disabled selected>---</option>
                  {% for country in countries %}
                  <option value="{{ country.code }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
                <label for="nationality">Nationality</label>
              </div>
              <div class="input-field col s12">
                <input type="text" name="ethnicity">
                <label for="ethnicity">Ethnicity</label>
              </div>
              <div class="input-field col s12">
                <input type="password" name="password" required>
                <label for="password">Password</label>
              </div>
              <div class="input-field col s12">
                <input type="password" name="password2" required>
                <label for="password2">Confirm Password</label>
              </div>
              <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
              <button type="submit" value="Register" class=" btn indigo lighten-3 waves-effect waves-light"
                href="{% url 'tutorial' %}">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
  var start = new Date().getFullYear();
  var end = 1900;
  var options = "";
  for (var year = start; year >= end; year--) {
    options += "<option>" + year + "</option>";
  }
  document.getElementById("year").innerHTML = options;
</script>
<script>
  grecaptcha.ready(function () {
    grecaptcha.execute('6LequLgUAAAAAHB34n7Oqv87N5KHhLXWcOQI1aPp', { action: 'signup' })
      .then(function (token) {
        document.getElementById("form").appendChild(document.CreateElement(`<input type="hidden" name="g-recaptcha-response" value=${token}`));
      });
  });
</script>


{% endblock %}