{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea class="materialize-textarea"
                    readonly>The purpose of this app is to have you classify sentences based on the principles of moral foundation theory. The theory is a social psychological theory intended to explain the origins of and variation in human moral reasoning on the basis of innate, modular foundations. The theory proposes six foundations as listed below. To learn more about Moral Foundations Theory you can also click the link. </textarea>
                  <a class="blue-text center" href="https://moralfoundations.org/"
                    target="_blank">www.moralfoundations.org</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalF1"
          class="btn-large waves-effect waves-light indigo lighten-3 col s12 modal-trigger">Care/Harm</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalF2"
          class="btn-large indigo lighten-3 waves-effect waves-light col s12 modal-trigger">Fairness/Cheating</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalF3"
          class="btn-large waves-effect waves-light indigo lighten-3 col s12 modal-trigger">Loyalty/Betrayal</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalF4"
          class="btn-large indigo lighten-3 col s12 waves-effect waves-light modal-trigger">Authority/Subversion</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalF5"
          class="btn-large indigo lighten-3 col s12 waves-effect waves-light modal-trigger">Sanctity/Degradation</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalF6"
          class="btn-large indigo lighten-3 col s12 waves-effect waves-light modal-trigger">Liberty/Oppression</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button data-target="ModalN"
          class="btn-large grey lighten-1 waves-effect waves-light col s12 modal-trigger">Next</button>
      </div>
    </div>
  </div>






  <div id="ModalF1" class="modal">
    <div class="modal-content">
      <h5>Care/Harm</h5>
      <p> This foundation is related to our long evolution as mammals with attachment systems and an ability to feel
        (and dislike) the pain of others. It underlies virtues of kindness, gentleness, and nurturance.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
    </div>
  </div>

  <div id="ModalF2" class="modal">
    <div class="modal-content">
      <h5>Fairness/cheating</h5>
      <p> This foundation is related to the evolutionary process of reciprocal altruism. It generates ideas of
        justice,
        rights, and autonomy.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
    </div>
  </div>

  <div id="ModalF3" class="modal">
    <div class="modal-content">
      <h5>Loyalty/betrayal</h5>
      <p> This foundation is related to our long history as tribal creatures able to form shifting coalitions. It
        underlies virtues of patriotism and self-sacrifice for the group. It is active anytime people feel that
        it's
        "one for all, and all for one."</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
    </div>
  </div>

  <div id="ModalF4" class="modal">
    <div class="modal-content">
      <h5>Authority/subversion</h5>
      <p> This foundation was shaped by our long primate history of hierarchical social interactions. It underlies
        virtues of leadership and followership, including deference to legitimate authority and respect for
        traditions.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
    </div>
  </div>

  <div id="ModalF5" class="modal">
    <div class="modal-content">
      <h5>Sanctity/degradation</h5>
      <p> This foundation was shaped by the psychology of disgust and contamination. It underlies religious notions
        of
        striving to live in an elevated, less carnal, more noble way. It underlies the widespread idea that the
        body
        is a temple which can be desecrated by immoral activities and contaminants.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
    </div>
  </div>

  <div id="ModalF6" class="modal">
    <div class="modal-content">
      <h5>Liberty/oppression</h5>
      <p> This foundation is about the feelings of reactance and resentment people feel toward those who dominate
        them
        and restrict their liberty. Its intuitions are often in tension with those of the authority foundation.
        The
        hatred of bullies and dominators motivates people to come together, in solidarity, to oppose or take down
        the
        oppressor.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
    </div>
  </div>

  <div id="ModalN" class="modal">
    <div class="modal-content">
      <p> So now for the million dollar question…… WHAT ARE YOU SUPPOSED TO DO?! Well that's simple, and we’ll go
        through it together.</p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'dashtutorial' %}" class="modal-close indigo lighten-3 waves-effect waves-light btn">Next</a>
    </div>
  </div>

  {% endblock %}