<!--This page walks the user through how the classifiers function. uses Modals to provide instructions-->
{% extends 'base.html' %}
<!--extends base.html file to populate navbar and globally used javascript and styling-->


{% block content %}
<!--Displays page content-->

<!-- Button trigger modal -->
<div class="container">
  <div class="row"></div>
  <div class="row col s12 center">
    <button class="waves-effect waves-light btn pulse modal-trigger" data-target="Modal">
      <!--Modal trigger to display Modal to guide user-->
      Continue Tutorial
    </button>
  </div>
</div>

<!-- Instruction Container shows example of what the classifier pages look like -->
<div class="container con1 mob">
  <form class="col s12">
    <div class="input-field col s12 white">
      <textarea class="materialize-textarea flow-text"
        readonly>Does this relate to the foundation of Sanctity/Degradation?</textarea>
    </div>
  </form>


  <div class="card-panel c2">
    <form class="col s12">
      <div class="input-field col s12 white">
        <textarea class="materialize-textarea"
          readonly>The building has been declared a historical site. In order to preserve it for future generations.</textarea>
      </div>
    </form>
  </div>

</div>






<!-- Modal 1 -->

<div id="Modal" class="modal">
  <!-- Modal to provide user with instructions-->
  <div class="modal-content">
    <h5>Does this relate to the foundation of Sanctity/Degradation?</h5>
    <p> This is an example of a question that you will see. Your job is to decide if the following sentence relates
      to
      this question.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-trigger  indigo lighten-3 waves-effect waves-light btn" data-target="Modal2">Next</a>
  </div>
</div>


<!-- Modal 2 -->
<div id="Modal2" class="modal">
  <!-- Modal to provide user with instructions-->
  <div class="modal-content">
    <h5>The building has been declared a historical site. In order to preserve it for future
      generations.</h5>
    <p> This is an example of a sentence that you will see. Does this sentence relate to the question that was
      asked?
      Close this window and click "SANCTITY", "DEGRADATION", "NO" or "UNSURE" to find out.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
  </div>
</div>

<!-- Modal 3 -->

<div id="Modal3" class="modal">
  <!-- Modal to provide user with instructions-->
  <div class="modal-content">
    <h5>CORRECT!!</h5>
    <p> This sentence does relate to the Moral Foundation of Sanctity/Degradation! Now that you have some idea of what
      to expect you can login and start classifying sentences.</p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'login' %}" class=" modal-close indigo lighten-3 waves-effect waves-light btn">Login</a>
  </div>
</div>

<!-- Modal 4 -->

<div id="Modal4" class="modal">
  <!-- Modal to provide user with instructions-->
  <div class="modal-content">
    <h5>WRONG!!!</h5>
    <p> Seriously? You may want to review the question and sentence again and then click yes.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
  </div>
</div>

<!-- Modal 5 -->

<div id="Modal5" class="modal">
  <!-- Modal to provide user with instructions-->
  <div class="modal-content">
    <h5>NOT QUITE...</h5>
    <p> I think you can be sure. You may want to review the question and sentence again and then click yes.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-close indigo lighten-3 waves-effect waves-light btn">Close</a>
  </div>
</div>

<div class="container">
  <div class="maybe">
    <div class="row">
      <div class="col s12 center">
        <button class="btn modal-trigger col s12 grey lighten-1 waves-effect waves-light "
          data-target="Modal5">Unsure</button>
        <!--Example of response button on classifier page. here it triggers instruction Modal -->
      </div>
    </div>
  </div>
</div>
<div class=" container">
  <div class="response">
    <button class="btn purple lighten-3 modal-trigger waves-effect waves-light" data-target="Modal3">
      <!--Example of response button on classifier page. here it triggers instruction Modal -->
      <div>
        <span class="r1">SANCTITY</span>
      </div>
    </button>
    <button class="btn red modal-trigger waves-effect waves-light" data-target="Modal4">
      <!--Example of response button on classifier page. here it triggers instruction Modal -->
      <div>
        <span class="r2">NEITHER</span>
      </div>
    </button>
    <button class="btn purple darken-3 modal-trigger waves-effect waves-light" data-target="Modal4">
      <!--Example of response button on classifier page. here it triggers instruction Modal -->
      <div>
        <span class="r3">DEGRADATION</span>
      </div>
    </button>
  </div>
  <div class="no">
    <div class="row">
      <div class="col s12 center">

      </div>
    </div>
  </div>
</div>


{% endblock %}