/* Custom CSS to override default Materialize settings*/

body, html {
   font-family: 'Roboto', sans-serif;

  }


.mob{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}





.foundation.btn-block {
  background-color: #8C96C6;
  font-family: 'Roboto', sans-serif;
  color:white;
}


.c2{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-height: 220px;
}



.index.btn-block{
  background-color: #8C96C6;
  color: white;
  font-family: 'Roboto', sans-serif;

}

a{
  font-family: 'Roboto', sans-serif;
  color: white;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px !important; 
  font-weight: bolder;
 
}

#classifier1, #classifier2, #classifier3, #classifier4, #classifier5,  #classifier6, #classifier7{
  padding-top: 25px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.con1{
  width: 93%;
}

textarea{
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none; 
  font-family: 'Roboto', sans-serif;
  color: black;
}

#question{
  font-weight: bold;
  height: 59px;
  margin-left: 1px;
}

#sentence{
  font-size:14pt;
  max-height: 215px;
  margin-bottom: 0;
  
}

textarea[readonly] {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none; 
  font-family: 'Roboto', sans-serif;
  color: black;
  
 
  
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.response{
  display:flex;
  justify-content:space-around;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  padding-right: 5.5px;
  padding-left: 5.5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.respad{
  padding-left: 5px;
  padding-right: 5px;
}

.response a{
  width: 200px;
  height: 125px;
  margin: 5px;
  font-size: 3vw;
}
.response button{
  width: 100%;
  height: 100px;
  margin: 5px;
  font-size: 1vw;
}

.response a i{
  margin: 30px;
  margin-bottom: 0px;
  font-size: 5rem;
}
.response button i{
  margin: 30px;
  margin-bottom: 0px;
  font-size: 1vw;
}

.maybe  {
  position: fixed;
  bottom: 95px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

}

.no{
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  width: 100%;
}

#h1welcome{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}




.tut button{
  position: relative;
  margin: 0px;
  right: 0;
  left: 0;
  background-color: #8C96C6;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.next button{
  position: relative;
  margin: 0px;
  right: 0;
  left: 0;
  background-color: #6c757d;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#title{
  margin-top: 25px;
}

.Q{
  font-size: 18px !important;
}

nav > .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  padding: 0;
}

.logo {

  font-size: 2.5rem;
  
}

.indbut{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.marg1{
  margin-left: 20px;
}

@media screen and (max-width: 424px) {
  .r1, .r2, .r3, .maybe{
  font-size: 3vw;
}
.b3{
  padding: 0 8px;
}
  }

.max{
  max-width: 500px;
}
